<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ratings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66EB24991D9E31E500B1E42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66EB24B51D9E31E600B1E42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66EB24C01D9E31E600B1E42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
